<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class = "list">
    <div class = "item item-input-inset">
       <label class = "item item-input-wrapper">		
          <input type = "text" placeholder = "Placeholder 1" />
       </label>
       <button class = "button">submit</button>
    </div>
 
    <div class = "item item-input-inset">
       <label class = "item item-input-wrapper">
          <i class = "icon ion-edit placeholder-icon"></i>
          <input type = "text" placeholder = "Placeholder 2" />
       </label>
    </div>
 </div>
</ion-content>
